<nav class="navbar" style="background-color: #dcdcdc">
  <div
    class="container-fluid"
    style="display: flex; justify-content: space-between"
  >
    <label for="tablename"
      >โต๊ะ {{ this.table?.table_number || "ไม่พบโต๊ะ" }}</label
    >
    <label for="cart"><a routerLink="./cart">cart icon</a></label>
  </div>
</nav>
<router-outlet></router-outlet>
<nav class="navbar fixed-bottom" style="background-color: #dcdcdc">
  <div
    class="container-fluid"
    style="display: flex; justify-content: space-between"
  >
    <label for="list"><a routerLink="./list">รายการที่สั่ง</a></label>
    <label for="tablename">ใบเสร็จ</label>
    <label for="tablename">ชำระเงิน</label>
  </div>
</nav>
