<div class="content">
  <h2>รายการสั่งอาหาร</h2>

  <!-- Dropdown for selecting order status -->
  <div class="mb-2">
    <label for="orderStatus">แสดงรายการ:</label>
    <select class="form-select" id="orderStatus" [(ngModel)]="selectedStatus">
      <option value="all">ทั้งหมด</option>
      <option value="pending">รอดำเนินการ</option>
      <option value="success">เสร็จสิ้น</option>
      <option value="cancelled">ถูกยกเลิก</option>
    </select>
  </div>

  <!-- Loop through filtered orders -->
  <div *ngFor="let order of filteredOrders()" class="order-card">
    <div class="order-header">
      <h3>โต๊ะที่ {{ order.tableNumber }}</h3>
      <button (click)="Order_cancelled(order.order)" class="btn btn-danger">
        ยกเลิก
      </button>
    </div>
    <!-- Loop through each item in the order -->
    <div *ngFor="let item of order.items" class="order-item">
      <div class="order-details">
        <span class="item-name">{{ item.name }}</span>
        <div class="item-info">
          <span
            >จำนวน: <span class="quantity">{{ item.quantity }}</span></span
          >
        </div>
        <div class="item-info">
          <span
            >สถานะ:
            <span
              class="status"
              [ngClass]="{
                'status-pending': item.status === 'pending',
                'status-success': item.status === 'success',
                'status-cancelled': item.status === 'cancelled'
              }"
              >{{ item.status }}</span
            ></span
          >
        </div>
        <div class="item-info">
          <span class="price">{{ item.price }} บาท</span>
        </div>
        <div>
          <span>รายละเอียด: {{ item.note }}</span>
        </div>
      </div>
      <div class="action-buttons">
        <button
          class="btn btn-success"
          (click)="Detail_complate(item.detail_id)"
        >
          เสร็จ
        </button>
        <button
          class="btn btn-danger"
          (click)="Detail_cancelled(item.detail_id)"
        >
          ยกเลิก
        </button>
      </div>
    </div>

    <!-- Order Summary -->
    <div class="order-summary">
      <span class="total-price"
        >รวม {{ calculateTotalPrice(order.items) }} บาท</span
      >
      <span
        class="order-status"
        [ngClass]="{
          'status-pending': order.orderstatus === 'pending',
          'status-success': order.orderstatus === 'success',
          'status-cancelled': order.orderstatus === 'cancelled'
        }"
        >{{ order.orderstatus }}</span
      >
      <button class="btn-confirm" (click)="Order_success(order.order)">
        เสิร์ฟ
      </button>
    </div>
  </div>
</div>
