<div class="container mt-5">
  <div class="card text-center p-4 shadow">
    <h3 class="mb-3">ข้อมูลร้าน</h3>
    <div id="info">
      <img
        src="{{ store.store_image }}"
        alt="profile"
        class="rounded-circle mt-2 mb-3"
        width="100"
        height="100"
      />

      <p>
        <strong>ชื่อ:</strong> <span id="name">{{ store.store_name }}</span>
      </p>
      <p>
        <strong>Username:</strong>
        <span id="username">{{ store.username }}</span>
      </p>
      <p>
        <strong>Email:</strong> <span id="email">{{ store.email }}</span>
      </p>
      <p>
        <strong>PromptPay:</strong>
        <span id="promptpay">{{ store.promptpay_number }}</span>
      </p>
      <img
        src="{{ store.promptpay_qr }}"
        alt="PromptPay QR"
        class="img-fluid rounded shadow my-2"
        width="120"
      />
      <p>
        <strong>เปิด:</strong>
        <span id="opentime">{{ store.open_time }}</span> -
        <span id="closetime">{{ store.close_time }}</span> น.
      </p>
      <p class="mb-3">
        <strong>ติดต่อ:</strong> <span id="contact">{{ store.contact }}</span>
      </p>
      <p class="mb-3">
        <strong>รายละเอียด:</strong>
        <span id="contact">{{ store.details }}</span>
      </p>
    </div>

    <button
      class="btn btn-outline-primary"
      data-bs-toggle="modal"
      data-bs-target="#editModal"
      (click)="edit()"
    >
      <i class="bi bi-pencil-square"></i> แก้ไขข้อมูล
    </button>
  </div>
</div>

<!-- Modal สำหรับแก้ไขข้อมูล -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">แก้ไขข้อมูลร้าน</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="editForm">
          <div class="input-group mb-3">
            <label class="input-group-text" for="profileimg">รูปภาพ</label>
            <input
              type="file"
              class="form-control"
              id="profileimg"
              name="store_image"
              (change)="onFileChange($event, 'storeImage')"
            />
          </div>

          <div class="mb-3">
            <label for="editName" class="form-label">ชื่อร้าน</label>
            <input
              type="text"
              id="editName"
              class="form-control"
              [(ngModel)]="editStore.store_name"
              name="store_name"
            />
          </div>

          <div class="mb-3">
            <label for="editEmail" class="form-label">Email</label>
            <input
              type="email"
              id="editEmail"
              class="form-control"
              [(ngModel)]="editStore.email"
              name="email"
            />
          </div>

          <div class="mb-3">
            <label for="editPromptPay" class="form-label">PromptPay</label>
            <input
              type="text"
              id="editPromptPay"
              class="form-control"
              [(ngModel)]="editStore.promptpay_number"
              name="promptpay_number"
            />
          </div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="promptpay"
              >รูปภาพ PromptPay</label
            >
            <input
              type="file"
              class="form-control"
              id="promptpay"
              (change)="onFileChange($event, 'promptpayImage')"
            />
          </div>
          <div class="mb-3">
            <label for="editOpenTime" class="form-label">เวลาเปิด</label>
            <input
              type="time"
              id="editOpenTime"
              class="form-control"
              [(ngModel)]="editStore.open_time"
              name="open_time"
            />
          </div>

          <div class="mb-3">
            <label for="editCloseTime" class="form-label">เวลาปิด</label>
            <input
              type="time"
              id="editCloseTime"
              class="form-control"
              [(ngModel)]="editStore.close_time"
              name="close_time"
            />
          </div>

          <div class="mb-3">
            <label for="editContact" class="form-label">เบอร์โทร</label>
            <input
              type="text"
              id="editContact"
              class="form-control"
              [(ngModel)]="editStore.contact"
              name="contact"
            />
          </div>
          <div class="mb-3">
            <label for="editDetail" class="form-label">รายละเอียด </label>
            <input
              type="text"
              id="editContact"
              class="form-control"
              [(ngModel)]="editStore.details"
              name="contact"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          ยกเลิก
        </button>
        <button
          type="button"
          class="btn btn-success"
          id="saveChanges"
          (click)="Updateinfo()"
        >
          บันทึก
        </button>
      </div>
    </div>
  </div>
</div>
