.empty-cart {
  text-align: center;
  font-size: 18px;
  color: #999;
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-details {
  flex: 1;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}
.qrcode {
  width: 50%;
  height: 200px;
}

.model-body {
  /* Ensure the div takes the full viewport height */
}
