<div class="content">
  <h2 class="text-center">การชำระเงิน</h2>

  <div class="order-container">
    <div *ngFor="let order of orders" class="order-card">
      <h3 class="order-table">โต๊ะที่ {{ order.tableNumber }}</h3>

      <div class="order-items">
        <div *ngFor="let item of order.items" class="order-item">
          <div class="order-details">
            <span class="item-name">{{ item.name }}</span>
            <span class="quantity">จำนวน: {{ item.quantity }}</span>
            <span
              >สถานะ:
              <span
                class="status"
                [ngClass]="{
                  'status-pending': item.status === 'Pending',
                  'status-success': item.status === 'Success',
                  'status-cancelled': item.status === 'Cancelled'
                }"
                >{{ item.status }}</span
              ></span
            >
            <span class="price">{{ item.price }} บาท</span>
          </div>
        </div>
      </div>

      <!-- Order Summary -->
      <div class="order-summary">
        <span class="total-price"
          >รวม {{ calculateTotalPrice(order.items) }} บาท</span
        >
        <span class="payment-status"
          >การชำระเงิน: {{ order.paymentstatus }}</span
        >
        <div class="buttons">
          <button
            class="btn btn-danger"
            [ngClass]="{ disabled: !order.proof || order.proof.trim() === '' }"
            (click)="viewSlip(order.proof)"
          >
            ดูสลิป
          </button>
          <button class="btn btn-success" (click)="paidConfirm(order.order)">
            ยืนยันการชำระเงิน
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
