<div>
  <h2>รายการอาหารที่สั่ง</h2>

  <!-- ถ้าไม่มีสินค้า -->
  <div *ngIf="!lists.items.length" class="empty-cart">
    <p>ว่าง</p>
  </div>

  <!-- แสดงรายการสินค้า -->
  <ng-container *ngIf="lists.items.length">
    <div *ngFor="let item of lists.items" class="card">
      <div>
        <img [src]="item.imageUrl" alt="menu image" class="cart-image" />
      </div>
      <div class="cart-details">
        <h3>{{ item.name }}</h3>
        <p>จำนวน: {{ item.quantity }}</p>
        <p>ราคา: {{ item.price }} บาท</p>
        <p>รวม: {{ item.price * item.quantity }} บาท</p>
        <p
          [ngStyle]="{
            color:
              item.status === 'Pending'
                ? 'orange'
                : item.status === 'Success'
                ? 'green'
                : item.status === 'Cancelled'
                ? 'red'
                : 'black'
          }"
        >
          สถานะ: {{ item.status }}
        </p>
      </div>
    </div>
  </ng-container>

  <!-- ปุ่มกลับไปเลือกสินค้า -->
  <div class="button-container">
    <button class="btn btn-secondary" routerLink="../food">
      กลับไปเลือกสินค้า
    </button>
  </div>
</div>
